<%= stylesheet_link_tag 'octopus/select2', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/datatables' %>

<%= stylesheet_link_tag 'octopus/jquery-ui-1.10.4.custom', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/bootstrap-multiselect', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/bootstrap-tagsinput', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/bootstrap-colorpicker', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/bootstrap-timepicker', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/basic', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/dropzone', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/bootstrap-markdown.min', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/summernote', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/summernote-bs3', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/codemirror', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/monokai' %>

<section class="panel">
  <header class="panel-heading">
    <h2 class="panel-title">Case Listing</h2>
  </header>

  <!-- Filter section -->
  <div class="panel-body" style="text-align: right;">
    <form class="form-horizontal form-bordered" id="filter-form">
      <div class="row">
        <div class="form-group col-lg-4" style="border: 0px;">
          <label class="col-md-3 control-label">District</label>
          <div class="col-md-6">
            <select class="form-control" data-plugin-multiselect id="district_id">
              <option value="1" selected>Lilongwe</option>
              <option value="2">Balaka</option>
              <option value="3">Mzuzu</option>
            </select>
          </div>
        </div>
        <div class="form-group col-lg-6" style="border: 0px;">
          <label class="col-md-3 control-label">Date range</label>
          <div class="col-md-6">
            <div class="input-daterange input-group" data-plugin-datepicker>
														<span class="input-group-addon">
															<i class="fa fa-calendar"></i>
														</span>
              <input type="text" class="form-control" name="start" readonly="readonly" id="start_date">
              <span class="input-group-addon">to</span>
              <input type="text" class="form-control" name="end" readonly="readonly" id="end_date">
            </div>
          </div>
        </div>
        <div class="form-group col-lg-2">
          <button type="submit" class="btn btn-primary">Filter</button>
        </div>
      </div>
    </form>
  </div>
  <!-- end filter -->
</section>

<section class="panel">
  <div class="panel-body">
    <table class="table table-bordered table-striped" id="datatable-ajax" data-url="<%= asset_path 'ajax-datatables-sample.json' %>">
      <thead>
      <tr>
        <th>Surveillance ID</th>
        <th> Gender</th>
        <th> Month of Birth</th>
        <th> HIV Test Date</th>
        <th> HIV Test Facility</th>
        <th> ART Initiation Date</th>
        <th> ART Regimen</th>
        <th> ART Facility</th>
        <th> Latest Viral Load Result</th>
        <th> Latest Viral Date</th>
        <th> Latest Viral Load Facility</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</section>

<%= javascript_include_tag 'octopus/select2' %>
<%= javascript_include_tag 'octopus/jquery.dataTables' %>
<%= javascript_include_tag 'octopus/datatables' %>

<%= javascript_include_tag 'octopus/jquery-ui-1.10.4.custom' %>
<%= javascript_include_tag 'octopus/jquery.ui.touch-punch' %>
<%= javascript_include_tag 'octopus/bootstrap-multiselect' %>
<%= javascript_include_tag 'octopus/jquery.maskedinput' %>
<%= javascript_include_tag 'octopus/bootstrap-tagsinput' %>
<%= javascript_include_tag 'octopus/bootstrap-colorpicker' %>
<%= javascript_include_tag 'octopus/bootstrap-timepicker' %>
<%= javascript_include_tag 'octopus/spinner' %>
<%= javascript_include_tag 'octopus/dropzone' %>
<%= javascript_include_tag 'octopus/markdown' %>
<%= javascript_include_tag 'octopus/to-markdown' %>
<%= javascript_include_tag 'octopus/bootstrap-markdown' %>
<%= javascript_include_tag 'octopus/codemirror' %>
<%= javascript_include_tag 'octopus/active-line' %>
<%= javascript_include_tag 'octopus/matchbrackets' %>
<%= javascript_include_tag 'octopus/javascript' %>
<%= javascript_include_tag 'octopus/xml' %>
<%= javascript_include_tag 'octopus/htmlmixed' %>
<%= javascript_include_tag 'octopus/css' %>
<%= javascript_include_tag 'octopus/summernote' %>
<%= javascript_include_tag 'octopus/bootstrap-maxlength' %>
<%= javascript_include_tag 'octopus/ios7-switch' %>

<script>
    let $table = $('#datatable-ajax');
    $(document).ready( function () {
        // let $table = $('#datatable-ajax');

        // $table.dataTable({
        //     bProcessing: true,
        //     sAjaxSource: $table.data('url')
        // });
    } );

    // process the form
    $('#filter-form').submit(function(event) {

        let formData = {
            'start_date' : $('#start_date').val(),// '1900-01-01',
            'end_date' : $('#end_date').val()// '2019-01-01'
        };

        $.ajax({
            type        : 'POST',
            url         : '/case_listing',
            headers : {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            },
            data        : formData,
            dataType    : 'json',
            encode       : true
        })
        // using the done promise callback
            .done(function(data) {
                $table.dataTable({
                    bProcessing: true,
                    data: data
                });
            });

        event.preventDefault();
    });

</script>
