<%= stylesheet_link_tag 'octopus/select2', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/datatables' %>

<%= stylesheet_link_tag 'octopus/jquery-ui-1.10.4.custom', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/bootstrap-multiselect', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/bootstrap-tagsinput', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/bootstrap-colorpicker', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/bootstrap-timepicker', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/basic', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/dropzone', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/bootstrap-markdown.min', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/summernote', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/summernote-bs3', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/codemirror', rel: 'stylesheet' %>
<%= stylesheet_link_tag 'octopus/monokai' %>
<%= stylesheet_link_tag 'octopus/pnotify.custom', rel: 'stylesheet' %>

<section class="panel">
  <header class="panel-heading">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="panel-title">Case Listing</h2>
        <p class="panel-subtitle">
          A listing of all known cases
        </p>
      </div>
    </div>
  </header>

  <!-- Filter section -->
  <div class="panel-body" style="text-align: right;">
    <div class="row">
      <div class="col-lg-12">
        <h5 class="text-left">Filters</h5>
        <hr>
      </div>
    </div>
    <form class="form-horizontal form-bordered" id="filter-form">
      <div class="row">
        <div class="form-group col-lg-4" style="border: 0px;">
          <label class="col-md-3 control-label">District</label>
          <div class="col-md-6">
            <select class="form-control" data-plugin-multiselect id="district_id">
              <option value="1" selected>Lilongwe</option>
              <option value="2">Balaka</option>
              <option value="3">Mzuzu</option>
            </select>
          </div>
        </div>
        <div class="form-group col-lg-6" style="border: 0px;">
          <label class="col-md-3 control-label">ART Initiation Date Range</label>
          <div class="col-md-6">
            <div class="input-daterange input-group" data-plugin-datepicker>
														<span class="input-group-addon">
															<i class="fa fa-calendar"></i>
														</span>
              <input type="text" class="form-control" name="start" readonly="readonly" id="start_date">
              <span class="input-group-addon">to</span>
              <input type="text" class="form-control" name="end" readonly="readonly" id="end_date">
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="form-group col-lg-12">
          <button type="submit" class="btn btn-success">
            <span><i class="fa fa-send-o"></i></span> Apply
          </button>
          <button type="submit" class="btn btn-primary" onclick="export_table_to_csv('#datatable-ajax','case_listing_report.csv')">
            <span><i class="fa fa-file-excel-o"></i></span> Download CSV
          </button>
        </div>
      </div>
    </form>
  </div>
  <!-- end filter -->
</section>

<section class="panel">
  <div class="panel-body">
    <%= image_tag 'ajax-loader.gif', :id => 'loadingSpinner' %>
    <table class="table table-bordered table-striped" id="datatable-ajax">
      <thead>
      <tr>
        <th>#</th>
        <th> Surveillance ID</th>
        <th> Gender</th>
        <th> Month of Birth</th>
        <th> HIV Test Date</th>
        <th> HIV Test Facility</th>
        <th> ART Initiation Date</th>
        <th> ART Regimen</th>
        <th> Latest Viral Load Result</th>
        <th> Latest Viral Date</th>
        <th> Latest Viral Load Facility</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</section>

<section class="panel" style="visibility: hidden;">
  <div class="panel-body">
    <a id="open-form" class="modal-with-form btn btn-default" href="#modalForm" style="visibility: hidden;">Open Form</a>
  </div>
</section>

<!-- Modal Form -->
<div id="modalForm" class="modal-block modal-block-primary mfp-hide">
  <section class="panel">
    <header class="panel-heading">
      <h2 class="panel-title">
        Case Profile: Surveillance <span id="surv_id_header">#nbj176</span>
      </h2>
    </header>
    <div class="panel-body">
      <table class="table table-bordered table-striped" id="specific_case_profile_table">
        <tr>
          <th>Surveillance ID</th>
          <td id="surv_id">#nbj176</td>
        </tr>
        <tr>
          <th> Gender</th>
          <td id="gender">&nbsp;</td>
        </tr>
        <tr>
          <th> Month of Birth</th>
          <td id="month_of_birth">&nbsp;</td>
        </tr>
        <tr>
          <th> HIV Test Date</th>
          <td id="hiv_test_date">&nbsp;</td>
        </tr>
        <tr>
          <th> HIV Test Facility</th>
          <td id="hiv_test_facility">&nbsp;</td>
        </tr>
        <tr>
          <th> ART Initiation Date</th>
          <td id="art_init_date">&nbsp;</td>
        </tr>
        <tr>
          <th> ART Regimen</th>
          <td id="art_regimen">&nbsp;</td>
        </tr>
        <tr>
          <th> Latest Viral Load Result</th>
          <td id="latest_vl_result">&nbsp;</td>
        </tr>
        <tr>
          <th> Latest Viral Date</th>
          <td id="latest_viral_date">&nbsp;</td>
        </tr>
        <tr>
          <th> Latest Viral Load Facility</th>
          <td id="latest_vl_facility">&nbsp;</td>
        </tr>
        <tr>
          <th> ART INIT (First Registered)</th>
          <td id="art_ini_first_reg">&nbsp;</td>
        </tr>
        <tr>
          <th> Entry into Care Date</th>
          <td id="entry_into_care_date">&nbsp;</td>
        </tr>
        <tr>
          <th> 1st CD4 Test Date</th>
          <td id="first_cd4_test_date">&nbsp;</td>
        </tr>
        <tr>
          <th> 1st Prescribed ART INIT Date</th>
          <td id="first_prescribed_art_init_date">&nbsp;</td>
        </tr>
        <tr>
          <th> 1st Viral Load Test Date</th>
          <td id="first_vl_test_date">&nbsp;</td>
        </tr>
        <tr>
          <th> Follow-Up Viral Load Test Date</th>
          <td id="follow_up_vl_test_date">&nbsp;</td>
        </tr>
        <tr>
          <th> Suppressed Viral Load Result (Low VL History)</th>
          <td id="suppressed_vl_result">&nbsp;</td>
        </tr>
        <tr>
          <th> Death Date</th>
          <td id="death_date">&nbsp;</td>
        </tr>
        <tr>
          <th> Cause of Death</th>
          <td id="cause_of_death">&nbsp;</td>
        </tr>
        <tr>
          <th> Staging Information</th>
          <td id="staging_info">&nbsp;</td>
        </tr>
        <tr>
          <th> Show Facility Movement(History)</th>
          <td id="facility_movement_history">&nbsp;
            <a id="client_case_url" class="btn btn-link btn-info">
              Show History
            </a>
          </td>
        </tr>
        <tbody>
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-md-12 text-right">
          <div class="btn-group dropup">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
              Download <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a onclick="export_table_to_csv('#specific_case_profile_table','case-profile.csv')"><i class="fa fa-file-excel-o"></i> .CSV</a></li>
            </ul>
          </div>
          <button class="btn btn-default modal-dismiss"> Close</button>
        </div>
      </div>
    </footer>
  </section>
</div>

<%= javascript_include_tag 'octopus/select2' %>
<%= javascript_include_tag 'octopus/jquery.dataTables' %>
<%= javascript_include_tag 'octopus/datatables' %>

<%= javascript_include_tag 'octopus/jquery-ui-1.10.4.custom' %>
<%= javascript_include_tag 'octopus/jquery.ui.touch-punch' %>
<%= javascript_include_tag 'octopus/bootstrap-multiselect' %>
<%= javascript_include_tag 'octopus/jquery.maskedinput' %>
<%= javascript_include_tag 'octopus/bootstrap-tagsinput' %>
<%= javascript_include_tag 'octopus/bootstrap-colorpicker' %>
<%= javascript_include_tag 'octopus/bootstrap-timepicker' %>
<%= javascript_include_tag 'octopus/spinner' %>
<%= javascript_include_tag 'octopus/dropzone' %>
<%= javascript_include_tag 'octopus/markdown' %>
<%= javascript_include_tag 'octopus/to-markdown' %>
<%= javascript_include_tag 'octopus/bootstrap-markdown' %>
<%= javascript_include_tag 'octopus/codemirror' %>
<%= javascript_include_tag 'octopus/active-line' %>
<%= javascript_include_tag 'octopus/matchbrackets' %>
<%= javascript_include_tag 'octopus/javascript' %>
<%= javascript_include_tag 'octopus/xml' %>
<%= javascript_include_tag 'octopus/htmlmixed' %>
<%= javascript_include_tag 'octopus/css' %>
<%= javascript_include_tag 'octopus/summernote' %>
<%= javascript_include_tag 'octopus/bootstrap-maxlength' %>
<%= javascript_include_tag 'octopus/ios7-switch' %>
<%= javascript_include_tag 'octopus/pnotify.custom' %>
<%= javascript_include_tag 'octopus/examples.modals' %>

<script>
    let $table = $('#datatable-ajax');
    let dtTable;
    let dataRendered = '';
    let dtPageLength;

    $(document).ready( function () {
        $('#loadingSpinner').hide();
        dtTable = $table.DataTable({
          "pageLength": dtPageLength
        });
    } );

    // process the form
    $('#filter-form').submit(function(event) {
      $('#loadingSpinner').show();
      var pageInfo = dtTable.page.info();
      dtPageLength = pageInfo.length;
      dtPage = pageInfo.page+1;
      // let per_page = $('#datatable-ajax tbody tr:visible').length;
      // console.log(per_page);

        let formData = {
            'start_date' : $('#start_date').val(),// '1900-01-01',
            'end_date' : $('#end_date').val(),// '2019-01-01',
            'page' : '1',
            'per_page' : '100000' //pageInfo.length
        };

        $.ajax({
            type        : 'POST',
            url         : '/case_listing',
            headers : {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            },
            data        : formData,
            dataType    : 'json',
            encode       : true
        })
        // using the done promise callback
            .done(function(data) {
                dtTable.clear().draw();
                dtTable.destroy();
                dtTable = $table.DataTable({
                    pageLength: 25,
                    processing:true,
                    data: data,
                    columnDefs: [
                        {
                            targets: [0],
                            visible: false,
                            searchable: false
                        }
                    ],
                    "initComplete": function(settings, json) {
                    $('#loadingSpinner').hide();
                  }
                });
            });

        event.preventDefault();
    });

    // view case profile
    $($table).on('click', 'tbody tr', function() {
        //get textContent of the TD
        let personId = dtTable.row( this ).data()[0];

        document.getElementById("client_case_url").href = "/client_case_profile/show/"+personId;

        $('#open-form').click();
        /*
        Call the Ajax modal
        */

        let formData = {
            'start_date' : $('#start_date').val(),
            'end_date' : $('#end_date').val(),
            'person_id' : personId
        };

        $.ajax({
            type        : 'POST',
            url         : '/client_case_profile/'+formData.person_id,
            headers : {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            },
            data        : formData,
            dataType    : 'json',
            encode       : true
        })
        // using the done promise callback
            .done(function(data) {
                let contentData = data[0];
                $('#surv_id_header').text(contentData[0]);
                $('#surv_id').text(contentData[0]);
                $('#gender').text(contentData[1]);
                $('#month_of_birth').text(contentData[2]);
                $('#hiv_test_date').text(contentData[3]);
                $('#hiv_test_facility').text(contentData[4]);
                $('#art_init_date').text(contentData[5]);
                $('#art_regimen').text(contentData[6]);
                $('#latest_vl_result').text(contentData[7]);
                $('#latest_viral_date').text(contentData[8]);
                $('#latest_vl_facility').text(contentData[9]);
                $('#art_ini_first_reg').text(contentData[10]);
                $('#entry_into_care_date').text(contentData[11]);
                $('#first_cd4_test_date').text(contentData[12]);
                $('#first_prescribed_art_init_date').text(contentData[13]);
                $('#first_vl_test_date').text(contentData[14]);
                $('#follow_up_vl_test_date').text(contentData[15]);
                $('#suppressed_vl_result').text(contentData[16]);
                $('#death_date').text(contentData[17]);
                $('#cause_of_death').text(contentData[18]);
                $('#staging_info').text(contentData[19]);
            });

    });

</script>
