<header class="page-header">
  <h2>Facility Movement (History)</h2>

  <div class="right-wrapper pull-right">
    <ol class="breadcrumbs">
      <li>
        <a href="/">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li><span>Case Profile</span></li>
      <li><span>Surv ID</span></li>
    </ol>

    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>

<!-- start: page -->
<div class="timeline">
  <div class="tm-body">
    <div class="tm-title">
      <h3 class="h5 text-uppercase">
        <strong>Client ID:</strong> <%= @response['surveillance_id'] %>
      </h3>
    </div>
  <% @response['movement'].each do |response| %>
     <ol class="tm-items">
      <li>
        <div class="tm-info">
          <div class="tm-icon"><i class="fa fa-tasks"></i></div>
          <time class="tm-datetime" datetime="2013-11-22 19:13">
            <div class="tm-datetime-date"><%= response['latest_visit_date'].to_date.strftime('%d/%^b/%Y') %></div>
            <div class="tm-datetime-time"><%= response['latest_visit_date'].to_time.strftime('%H:%M') %></div>
          </time>
        </div>
        <div class="tm-box">
          <p>
            <span>
             <strong> <%= response['program'] %></strong> <span class="text-primary"><%= '@' + response['site_name'] %></span>
            </span>
          </p>
          <div class="tm-meta">
            <p>
            </p>
          </div>
        </div>
      </li>
    </ol>
  <% end %>
  <!--
      <div class="tm-title">
      <h3 class="h5 text-uppercase">November 2013</h3>
    </div>
    <ol class="tm-items">
      <li>
        <div class="tm-info">
          <div class="tm-icon"><i class="fa fa-tasks"></i></div>
          <time class="tm-datetime" datetime="2013-11-22 19:13">
            <div class="tm-datetime-date">7 months ago.</div>
            <div class="tm-datetime-time"> <%= response['latest_visit_date'].strftime('%Y-%m-%d') rescue nil %></div>
          </time>
        </div>
        <div class="tm-box">
          <p>
            <%= response['program'] %> <span class="text-primary"><%= response['site_name'] %></span>
          </p>
          <div class="tm-meta">
            <p>
              Received drugs
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="tm-info">
          <div class="tm-icon"><i class="fa fa-tasks"></i></div>
          <time class="tm-datetime" datetime="2013-11-19 18:13">
            <div class="tm-datetime-date">7 months ago.</div>
            <div class="tm-datetime-time">06:13 PM</div>
          </time>
        </div>
        <div class="tm-box">
          <p>
            ART clinic <span class="text-primary">@ MPC</span>
          </p>
          <div class="tm-meta">
            <p>
              Registered treatment
            </p>
          </div>
        </div>
      </li>
    </ol>
    <div class="tm-title">
      <h3 class="h5 text-uppercase">September 2013</h3>
    </div>
    <ol class="tm-items">
      <li>
        <div class="tm-info">
          <div class="tm-icon"><i class="fa fa-tasks"></i></div>
          <time class="tm-datetime" datetime="2013-11-22 19:13">
            <div class="tm-datetime-date">7 months ago.</div>
            <div class="tm-datetime-time">07:13 PM</div>
          </time>
        </div>
        <div class="tm-box">
          <p>
            ART clinic <span class="text-primary">@ KCH</span>
          </p>
          <div class="tm-meta">
            <p>
              Received drugs
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="tm-info">
          <div class="tm-icon"><i class="fa fa-tasks"></i></div>
          <time class="tm-datetime" datetime="2013-11-19 18:13">
            <div class="tm-datetime-date">7 months ago.</div>
            <div class="tm-datetime-time">06:13 PM</div>
          </time>
        </div>
        <div class="tm-box">
          <p>
            ART clinic <span class="text-primary">@ MPC</span>
          </p>
          <div class="tm-meta">
            <p>
              Registered treatment
            </p>
          </div>
        </div>
      </li>
    </ol>
    -->
  </div>
</div>
<!-- end: page -->
